# in the .env file in the root of this project are Your project's settings,
# and therefore it is advised not to keep in open source repositories.
# the .env file in .gitignore isn't published then in Your git repo.
/.env
/workspace/ts/.env.dynamic
/temp/



/node_modules
/**/node_modules
/**/vendor

/**/.DS_Store
/.idea



/cypress/cypress/screenshots
/docker/MySQL/data


/docker/Jaisocx_SitesServer/ssl/Linux/SSLCertificatesBashScripts/Step1_CertificateRequestIssue/produced_csr_with_private_key/Jaisocx_com_csr_n_pkey
/docker/Jaisocx_SitesServer/ssl/Linux/SSLCertificatesBashScripts/Step1_CertificateRequestIssue/step1_scripts/Jaisocx_com_step1_csr_n_pkey_scripts
/docker/Jaisocx_SitesServer/ssl/Linux/SSLCertificatesBashScripts/Step2_JavaKeyStoreAndCertificateChain/produced_certificate_chain/Jaisocx_com_certificate_chain
/docker/Jaisocx_SitesServer/ssl/Linux/SSLCertificatesBashScripts/Step2_JavaKeyStoreAndCertificateChain/produced_jks/Jaisocx_com_jks
/docker/Jaisocx_SitesServer/ssl/Linux/SSLCertificatesBashScripts/Step2_JavaKeyStoreAndCertificateChain/PurchasedCertificates/Jaisocx_com_purchased_certificates
/docker/Jaisocx_SitesServer/ssl/Linux/SSLCertificatesBashScripts/Step2_JavaKeyStoreAndCertificateChain/step2_scripts/Jaisocx_com_step2_cert_gen_scripts

/docker/Jaisocx_SitesServer/logs
/docker/Jaisocx_SitesServer/etc/ip-lists
/docker/php/logs



/workspace/ts/Jaisocx_SiteTools/

/docker/ts/tarball/*.tar.xz
/workspace/ts/build_tools/command/tsvm/node_tarballs/*.tar.xz
/workspace/ts/build_tools/command/tsvm/yarn
/workspace/ts/express/serverExpress.pid



/workspace/ts/build_tools/ReadmeToHtml/

/workspace/ts/Jaisocx_SitesTools
/workspace/ts/Jaisocx_SitesTools/examples_html/emails/temp/
/workspace/ts/Jaisocx_SitesTools/packages/CharcodeConverter/tmp_data_gitignored/
/workspace/ts/Jaisocx_SitesTools/tmp.html

/someBashExamples.sh




