#!/usr/bin/env bash

### Ports open in Dockerfile on lines 193
# EXPOSE 80
# EXPOSE 443
# EXPOSE 3000
# EXPOSE 8445
# EXPOSE 8085



start_node_https=true
node_https_publish_port=8445
node_https_publish_folder="/opt/jaisocx/sites_tools/workspace/ts/Jaisocx_SitesTools"

start_node_http_flat=true
node_http_flat_publish_port=8085
node_http_flat_publish_folder="/opt/jaisocx/sites_tools/workspace/ts/Jaisocx_SitesTools"


